/POO/Practicas/nbproject/private/
/POO/TP_ProyectoAlumnos/nbproject/private/
/POO/Practicas/build/
/POO/TP_ProyectoAlumnos/build/
/POO/TurnoE2024/nbproject/private/
/POO/TurnoE2024/build/
/POO/ParcialProgramadores/nbproject/private/
/POO/ParcialSupermercado/nbproject/private/
